@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 15px;
    scroll-behavior: smooth;
    font-weight: 500;
}
body {
    margin: 0;
    font-family: "Inter", "Yukita Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 10px;
    display: block;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff2;
    border: 1px solid #fff7;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #fff5;
    border: 1px solid #fffa;
    border-radius: 100px;
}

.overflow-y-visible::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    display: block;
}

.overflow-y-visible::-webkit-scrollbar-track {
    background-color: transparent;
}

.overflow-y-visible::-webkit-scrollbar-thumb {
    background-color: #fff2;
    border: 1px solid #fff7;
    border-radius: 100px;
}

.overflow-y-visible::-webkit-scrollbar-thumb:hover {
    background-color: #fff5;
    border: 1px solid #fffa;
    border-radius: 100px;
    width: 7px;
    height: 7px;
}

body {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff2;
    border-radius: 100px;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #fff5;
}


@layer base {
    *,
    ::before,
    ::after {
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;

        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
    }

    .nav-button,
    button,
    .button {
        @apply rounded-full py-2 px-4 font-medium hover:bg-opacity-80 duration-150;
    }
}